body {
    font-family: "Kanit", sans-serif, "Poppins";
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

footer {
    font-size: 11px;
    text-align: center;
    line-height: 2.8;
}

.card {
    border-radius: 15px;
    margin: 10% auto auto;
    padding: 0;
    max-width: 600px;
    box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.1);
    background: radial-gradient(
        circle at 0% 0.5%,
        rgb(241, 241, 242) 0.1%,
        rgb(224, 226, 228) 100.2%
    );
}

.search-input {
    border-radius: 45px;
    border: none;
    background: none;
}

.search-button {
    border: none;
    border-radius: 45px;
}

.current-location-button {
    border: none;
    border-radius: 45px;
    background-color: black;
    color: white;
}

.day-1,
.day-2,
.day-3,
.day-4,
.day-5 {
    border-radius: 5px;
    margin: 4px;
}

.day-1:hover,
.day-2:hover,
.day-3:hover,
.day-4:hover,
.day-5:hover {
    background: #bebebe;
}

.day {
    font-size: 20px;
}

.lightning,
.mostly-sunny,
.heavy-showers,
.rain {
    font-size: 25px;
}

.location-temp {
    text-align: left;
}

.date-time,
.wind-speed,
.weather-description {
    text-align: right;
}

.wind-speed,
.weather-description {
    line-height: 0%;
    text-transform: capitalize;
    font-size: 16px;
}

.date-time {
    line-height: 200%;
    font-size: 22px;
    padding: 0 0 20px;
}

.min-max {
    margin: 16px 0 0;
}

.min {
    color: #939393;
}

.active.celsius,
.active.fahrenheit {
    color: black;
}

.celsius,
.fahrenheit {
    color: darkgrey;
    text-decoration: none;
}

#current-location-button {
    width: 23%;
    height: 38.5px;
    transition: all 125ms ease-in;
}

#current-location-button:hover {
    background-color: #494949;
    cursor: pointer;
}

#temperature {
    display: inline;
}
