body {
    font-family: "Kanit", sans-serif, "Poppins";
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

footer {
    font-size: 11px;
    text-align: center;
    line-height: 275%;
}

.email,
.github,
.netlify {
    text-decoration: none;
    color: #a55dbb;
    transition: all 150ms ease-in;
}

.email:hover,
.github:hover,
.netlify:hover {
    cursor: pointer;
    color: #9b9b9b;
}

.card {
    border-radius: 15px;
    margin: 5% auto auto;
    padding: 10px;
    max-width: 750px;
    box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.1);
    background: radial-gradient(
        circle at 0% 0.5%,
        rgb(241, 241, 242) 0.1%,
        rgb(224, 226, 228) 100.2%
    );
}

.forecast {
    margin-top: 20px;
    text-align: center;
    color: black;
}

.forecast-date {
    font-size: 16px;
    opacity: 0.6;
}

.forecast-temp {
    font-size: 13px;
}

.forecast-min-temp {
    color: #abacad;
}

.location-temp {
    text-align: left;
}

.date-time,
.wind-speed,
.weather-description {
    text-align: right;
}

.weather-description {
    text-transform: capitalize;
}

.wind-speed,
.weather-description {
    line-height: 25%;
    font-size: 16px;
}

.date-time {
    line-height: 200%;
    font-size: 22px;
    padding: 0 0 20px;
}

.min-max {
    margin: 16px 0 0;
}

.min {
    color: #939393;
}

.active.celsius,
.active.fahrenheit {
    color: black;
}

.celsius,
.fahrenheit {
    color: darkgrey;
    text-decoration: none;
}

#current-location-button {
    border: none;
    border-radius: 45px;
    background-color: black;
    color: white;
    width: 23%;
    height: 38.5px;
    transition: all 125ms ease-in;
}

#current-location-button:hover {
    background-color: #424649;
    cursor: pointer;
}

#temperature {
    display: inline;
}

#weather-icon {
    margin: 0 0 0 -15px;
}
